<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Cov19 Help | EDC,TIET</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link rel="apple-touch-icon" sizes="180x180" href="../static/misc/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/misc/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/misc/favicon-16x16.png">
    <link rel="manifest" href="../static/misc/site.webmanifest">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/material-bootstrap-wizard.css" rel="stylesheet" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../static/css/demo.css" rel="stylesheet" />
</head>

<body>
    <div class="image-container set-full-height" style="background-image: url('../static/img/BG.jpg')">
        <!--   Creative Tim Branding   -->
        <a href="https://www.edctiet.com">
            <div class="logo-container">
                <div class="logo">
                    <img src="../static/img/EDCTIET.jpg">
                </div>
                <div class="brand">
                    Entrepreneurship Development Cell, TIET
                </div>
            </div>
        </a>

        <!--  Made With Material Kit  -->
        <a href="http://demos.creative-tim.com/" class="made-with-mk">
            <div class="brand">MK</div>
            <div class="made-with">Made with <strong>Material Kit</strong></div>
        </a>

        <!--   Big container   -->
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="blue" id="wizard">
                            <form action="" method="">
                                <!--        You can switch " data-color="rose" "  with one of the next bright colors: "blue", "green", "orange", "purple"        -->

                                <div class="wizard-header">
                                    <h3 class="wizard-title">
                                        Send Your Request
                                    </h3>
                                    <h5>This information will help us know more about your requirements and provide you with the resources at the earliest.</h5>
                                </div>
                                <div class="wizard-navigation">
                                    <ul>
                                        <li><a href="#medicines" data-toggle="tab">Medicines</a></li>
                                        <li><a href="#oxygen" data-toggle="tab">Oxygen</a></li>
                                        <li><a href="#consultation" data-toggle="tab">Consultation</a></li>
                                    </ul>
                                </div>

                                <div class="tab-content">
                                    <div class="tab-pane" id="hidden" style="display: none;">
                                        <div class="row">
                                            <form action="/medicines" method="POST">
                                                <div class="col-sm-5 col-sm-offset-1">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Contact Number</label>
                                                        <input type="tel" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 ">
                                                    <div class="info-text " style="margin: 0px; ">
                                                        <button type="submit" class="btn btn-info btn-round ">
                                                            <i class="material-icons ">favorite</i> Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="medicines">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h4 class="info-text"> Please provide us with the basic details</h4>
                                                <h4 class="info-text label-{{lable}}"> {{msg}}</h4>
                                            </div>
                                            <form action="/medicines" method="POST">
                                                <div class="col-sm-5 col-sm-offset-1">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Contact Number</label>
                                                        <input type="tel" class="form-control" name="medPhoneNum">
                                                    </div>
                                                </div>
                                                <div class="col-sm-5 ">
                                                    <div class="form-group label-floating ">
                                                        <label class="control-label ">City</label>
                                                        <select name="medCity" class="form-control ">
                                                            <option disabled=" " selected=" "></option>
                                                            <option value="Delhi NCR "> Delhi NCR </option>
                                                            <option value="Lucknow "> Lucknow </option>
                                                            <option value="Chandigarh "> Chandigarh </option>
                                                            <option value="Patiala "> Patiala </option>
	                                            	    </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5 col-sm-offset-1 ">
                                                    <div class="form-group label-floating ">
                                                        <label class="control-label ">Medicine Name/Details</label>
                                                        <input type="text " class="form-control " autocomplete="off " name="medDetails">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 ">
                                                    <div class="info-text " style="margin: 0px; ">
                                                        <button type="submit " class="btn btn-info btn-round ">
                                                            <i class="material-icons ">favorite</i> Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="oxygen">
                                        <div class="row ">
                                            <div class="col-sm-12 ">
                                                <h4 class="info-text "> Please enter the basic details</h4>
                                                <h4 class="info-text label-{{lable}}"> {{msg}}</h4>
                                            </div>
                                            <form action="/oxygen " method="POST">
                                                <div class="col-sm-5 col-sm-offset-1 ">
                                                    <div class="form-group label-floating ">
                                                        <label class="control-label ">Contact Number</label>
                                                        <input type="tel " class="form-control" name="oxyPhoneNum">
                                                    </div>
                                                </div>
                                                <div class="col-sm-5 ">
                                                    <div class="form-group label-floating ">
                                                        <label class="control-label ">City</label>
                                                        <select name="oxyCity" class="form-control">
                                                            <option disabled=" " selected=" "></option>
                                                            <option value="Delhi NCR "> Delhi NCR </option>
                                                            <option value="Lucknow "> Lucknow </option>
                                                            <option value="Chandigarh "> Chandigarh </option>
                                                            <option value="Patiala "> Patiala </option>
	                                            	    </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 ">
                                                    <div class="info-text " style="margin: 0px; ">
                                                        <button type="submit " class="btn btn-info btn-round ">
                                                            <i class="material-icons ">favorite</i> Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab-pane " id="consultation">
                                        <div class="row ">
                                            <div class="col-sm-12 ">
                                                <h4 class="info-text "> We'll send you a list of available Doctors</h4>
                                                <h4 class="info-text label-{{lable}}"> {{msg}}</h4>
                                            </div>
                                            <form action="/consultation " method="POST">
                                                <div class="col-sm-5 col-sm-offset-1 ">
                                                    <div class="form-group label-floating ">
                                                        <label class="control-label ">Contact Number</label>
                                                        <input type="tel " class="form-control " name="consultNum">
                                                    </div>
                                                </div>
                                                <div class="col-sm-5 ">
                                                    <div class="form-group label-floating ">
                                                        <label class="control-label">Specific query(If Any)</label>
                                                        <input type="text" class="form-control " autocomplete="off" name="queryCon">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 ">
                                                    <div class="info-text " style="margin: 0px; ">
                                                        <button type="submit " class="btn btn-info btn-round ">
                                                            <i class="material-icons ">favorite</i> Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- wizard container -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!--  big container -->

        <div class="footer ">
            <div class="container text-center ">
                Made with <i class="fa fa-heart heart "></i> by <a href="https://www.edctiet.com/ ">Team EDC,TIET</a>.
            </div>
        </div>
    </div>

</body>
<!--   Core JS Files   -->
<script src="../static/js/jquery-2.2.4.min.js " type="text/javascript "></script>
<script src="../static/js/bootstrap.min.js " type="text/javascript "></script>
<script src="../static/js/jquery.bootstrap.js " type="text/javascript "></script>

<!--  Plugin for the Wizard -->
<script src="../static/js/material-bootstrap-wizard.js "></script>

<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="../static/js/jquery.validate.min.js "></script>

</html>